[user]
    name = Piero Narciso
    email = pieronarciso988@gmail.com
    signingkey = 99FDE214CA44C635

[init]
    defaultBranch = main

[core]
    editor = nvim
	autocrlf = input

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[pull]
    ff = only

[pager]
    log = true
    diff = true
    show = false
    branch = false

[worktree]
    guessRemote = true

[color]
    ui = auto

[color "status"]
    changed = yellow
    untracked = red
    added = green bold

[alias]
    a = add
    aa = add --all
    c = commit --verbose
    co = checkout
    b = branch
    cl = clone
    pu = push
    re = reset
    wt = worktree
    logg = log --all --decorate --graph --oneline

[commit]
    gpgsign = true

[includeIf "gitdir:~/Code/Bsale/**/*"]
    path = ~/.gitconfig-bsale
