{
  "!users": [
    {
      "username": "piero",
      "!password": "CHANGE-ME",
      "sudo": true
    }
  ],
  "!root-password": "CHANGE-ME",
  "encryption_password": "CHANGE-ME-THE-LUKS-PASSPHRASE"
}
